.hero {
  background-color: hsl(var(--bg-500));
}

.hero__container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 0 1rem;
}

.hero__text__container {
  padding: 2rem 0;
  font-family: "IBM Plex Sans Arabic", sans-serif;
  align-self: center;
}

.hero__image {
  order: -1;
}

.hero__heading {
  font-size: clamp(2rem, 10vw, 3.5rem);
  font-weight: 800;
}

.hero__sub__heading {
  font-size: clamp(1rem, 4, 2rem);
  font-weight: 500;
  color: hsla(var(--font-700), 0.6);
}

.categories {
  padding: 2rem 0;
}

.heading {
  font-size: 2.3rem;
  text-align: center;
}

.categories__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 1rem;
  width: 80%;
  margin-inline: auto;
  padding: 4rem 0;
}

.categories__card {
  justify-content: flex-start;
  transition: 0.5s all linear;
  cursor: pointer;
  align-items: center;
  border: 1px solid hsl(var(--bg-300));
  background-color: hsl(var(--bg-500));
  border-radius: 0.25rem;
}

.category__image {
  object-fit: contain;
}

.categories__description__container {
  padding: 0.5rem 1rem;
  margin-inline: auto;
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase;
}

@media screen and (min-width: 60em) {
  .hero__container {
    grid-template-columns: 1fr 2fr;
  }

  .hero__image {
    order: 0;
  }
}
