.wishlist__container {
  padding: 3rem 0;
}

.wishlist__cards {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

/* .wishlist__card {
} */

.wishlist__description {
  padding: 0 1rem 1rem;
}

.wishlist__name {
  font-weight: 600;
  font-size: 1.2rem;
}

.wishlist__price {
  font-family: var(--font-Lato);
  font-weight: 500;
}

.wishlist__buttons__container {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.wishlist__btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.wishlist__image {
  background-color: hsla(var(--bg-600), 0.35);
  object-fit: contain;
  aspect-ratio: 3/4;
}

.wishlist__card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsla(var(--font-700), 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}

.wishlist__card__overlay__outofstock {
  padding: 1rem;
  background-color: hsla(var(--font-500), 0.75);
  color: hsla(var(--bg-600), 0.85);
}
