.cart__container {
  padding: 2rem 0;
}

.cart__cards__pricing__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.cart__cards__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.cart__card {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.cart__image__container {
  background-color: hsla(var(--bg-600), 0.35);
}

.cart__image {
  object-fit: contain;
  aspect-ratio: 3 / 4;
}

.cart__description__container {
  padding: 1rem;
}

.cart__name {
  font-size: 1.2rem;
  font-weight: 600;
}

.cart__price {
  font-family: var(--font-Lato);
  display: flex;
  gap: 1rem;
  padding: 0.5rem 0;
  align-items: baseline;
}

.cart__selling__price {
  font-size: 1.2rem;
  letter-spacing: -1px;
}

.cart__actual__price {
  font-size: 1.2rem;
  letter-spacing: -1px;
  color: hsla(var(--font-500), 0.7);
  text-decoration: line-through;
}

.cart__discount {
  background-color: hsla(113, 96%, 69%, 0.3);
  display: inline-block;
  color: hsla(113, 56%, 25%, 0.8);
  padding: 0.5rem 1rem;
}

.cart__quantity__container {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1rem 0;
}

.cart__quantity {
  font-size: 1.2rem;
}

.cart__quantity__button {
  outline: 1px solid transparent;
  outline-offset: 2px;
  font-weight: bolder;
  border-radius: 50%;
  min-width: 2em;
  min-height: 2em;
  border: none;
  font-size: 1.2rem;
}

.cart__quantity__button:active {
  background-color: hsla(var(--bg-600), 1);
}

.cart__buttons__container {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* 
@media screen and (min-width: 35em) {
  .cart__cards__pricing__container {
    grid-template-columns: 2fr 1fr;
  }
} */

/* @media screen and (min-width: 57.5em) {
  .cart__cards__pricing__container {
    grid-template-columns: 3fr 2fr;
  }
} */

@media screen and (min-width: 47.5em) {
  .cart__cards__pricing__container {
    grid-template-columns: 3fr 2fr;
  }

  .cart__name {
    font-size: 2.5rem;
  }
}
