.header {
  padding: 1.5rem 0;
  background-color: hsl(var(--bg-700));
  box-shadow: 0 0 4px hsl(var(--bg-400));
  position: sticky;
  top: 0;
  z-index: 8;
}

.navbar {
  background-color: inherit;
  color: inherit;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.menu {
  font-size: 2rem;
  z-index: 9;
  display: none;
}

.logo h2 {
  font-size: 2.2rem;
  font-weight: 700;
  padding: 0;
}

.navitems {
  display: flex;
  gap: 1rem;
  margin-left: auto;
}

.navlist {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.usermenu {
  position: relative;
  cursor: pointer;
}

.avatar {
  padding: 0.25rem;
}

.dropdown {
  position: absolute;
  top: 100%;
  padding: 0;
  background-color: hsla(var(--bg-700), 0.4);
  border: 1px solid hsl(var(--bg-500));
  list-style: none;
}

.dropdown li {
  display: block;
  backdrop-filter: blur(4rem);
  padding: 0.25rem 0.5rem;
  width: 100%;
}

.dropdown li:hover {
  background-color: hsla(var(--bg-600), 0.7);
}

.dropdown li:active {
  background-color: hsla(var(--bg-600), 0.4);
}

@media screen and (max-width: 35em) {
  .navlist {
    position: fixed;
    inset: 0 35% 0 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    /* background-color: hsla(var(--bg-600), 1); */
    padding: min(30vh, 5rem) 2rem;
    backdrop-filter: blur(4rem);
    transform: translateX(-100%);
    transition: 0.2s transform linear;
  }

  .menu {
    display: block;
  }
}
