.listing__container {
  background-color: hsla(var(--bg-700), 1);
}

.listing {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.products__info {
  display: none;
}

.products__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 2rem;
  background-color: inherit;
}

.product__card {
  height: max-content;
}

.image__container {
  background-color: hsla(var(--bg-600), 0.35);
}

.product__image {
  object-fit: contain;
  aspect-ratio: 3/4;
}

.product__info {
  padding: 0.5rem 1rem 1rem;
}

.product__name {
  font-size: 1.5rem;
  font-weight: 600;
}

.product__rating__assurance {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.product__assurance {
  font-weight: 500;
  font-size: 0.85rem;
  font-style: italic;
  color: hsl(var(--primary));
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.product__pricing {
  font-family: var(--font-Lato);
  display: flex;
  gap: 1rem;
  padding: 0.5rem 0;
  align-items: baseline;
}

.product__selling__price {
  font-size: 1.2rem;
  letter-spacing: -1px;
}

.product__actual__price {
  font-size: 1.2rem;
  letter-spacing: -1px;
  color: hsla(var(--font-500), 0.7);
  text-decoration: line-through;
}

.product__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsla(var(--font-700), 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}

.wishlist__container {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.product__overlay__outofstock {
  padding: 1rem;
  background-color: hsla(var(--font-500), 0.75);
  color: hsla(var(--bg-600), 0.85);
}

@media screen and (min-width: 65em) {
  .listing {
    grid-template-columns: 1fr 4fr;
  }

  .products__info {
    display: block;
    padding: 1rem 0.5rem 1rem;
    background-color: hsla(var(--bg-600), 0.85);
    margin-bottom: 1rem;
  }
}
