@import url("https://chunksui.netlify.app/css/style.css");

body {
  font-family: var(--font-poppins);
}

.main-container {
  width: min(calc(90vw - 2rem), 80em);
  margin-inline: auto;
}

.shadow {
  box-shadow: 0 0 4px hsl(var(--bg-400));
}

.reducegap {
  gap: 0.5rem;
}
