/* @import url("https://chunksui.netlify.app/css/style.css"); */
@import url("https://unpkg.com/mockman-js@latest/dist/style.css");

/* Overriding styles from component library */

body {
  font-family: var(--font-poppins);
  background-color: hsla(var(--bg-700), 0.95);
}

main {
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-Lato);
  font-family: var(--font-poppins);
}

.main-container {
  width: min(calc(90vw - 2rem), 80em);
  margin-inline: auto;
}

.shadow {
  box-shadow: 0 0 4px hsl(var(--bg-400));
}

input[type="radio"],
input[type="checkbox"],
input[type="range"] {
  accent-color: hsl(var(--primary-dark));
}

.sidebar-section:not(:last-child) {
  border-bottom: 1px solid hsl(var(--bg-400));
}

.header-active {
  font-weight: 600;
  border-bottom: 1px solid black;
}

.header-inactive {
  color: hsla(var(--font-600), 0.6);
}
